$b-color: hsl(0, 0%, 83%);
$bd-b-color: hsla(0, 0%, 0%, 0.2);
$h2-color: hsl(240, 100, 50);
$bdc-color: hsl(0, 0, 100);


body {
    margin: 0;
    padding: 0;
    background: $b-color;
    font-family: sans-serif;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    font-size: 1.5em;
    color: $h2-color;
}

.box {
    position: relative;
    width: 23%;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;

    &:hover {
        img {
            transform: scale(1.2);
        }

        .box__details {
            transform: scaleY(1);
        }
    }
}

.box__imgBox {
    position: relative;
    overflow: hidden;
}

img {
    max-width: 100%;
    transition: transform 2s;
}

.box__details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: $bd-b-color;
    transform: scaleY(0);
    transition: transform .5s;
}

.box__details__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: justify;
    padding: 15px;
    color: $bdc-color;
}
